@model ENG.CsvConverter.Models.ConvertRequestModel
@{
    ViewBag.Title = "Index";
}

<style>
    .columns{
        width:100%;
    }
</style>

<h2></h2>

@using (Html.BeginForm("Generate", "Home", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal" }))
{
    <div class="form-group">
        <label for="columns" class="control-label">Nome das props separado por virgula!</label>
        @Html.TextBoxFor(t => t.Props, new { placeholder = "Props", @id = "props", @class = "form-control columns" })
    </div>

    <div class="form-group">
        @Html.TextBoxFor(t => t.ObjectName, new { placeholder = "Object Name", @id = "objectName", @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.TextBoxFor(t => t.Separator, new { placeholder = "Separator", @id = "objectName", @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.EnumDropDownListFor(t => t.Type, "Select", new { @id = "objectName", @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.TextBoxFor(x => x.File, new { type = "file" })
        @Html.ValidationMessageFor(x => x.File)
    </div>

    <div class="form-group">
        <button class="btn btn-success" type="submit">Generate</button>
    </div>
}

